<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="stylomylo.css">
    <script src="/public/bower_components/jquery/dist/jquery.js"></script>
    <script src="/public/bower_components/bootstrap/dist/js/bootstrap.js"></script>
</head>
<body>
<div class='container'>
    <h1>Welcome to ACME Corp</h1>
</div>
<div class='container' id="navyPills">
    <ul class="nav nav-pills">
        <li role="presentation" class="active"><a href="/">Home</a></li>
        <li role="presentation" class="active"><a href="/menu/visitors">Visitors</a></li>
        <li role="presentation" class="active"><a href="/menu/insiders">Insiders</a></li>
        <li role="presentation" class="active"><a href="/menu/about">About</a></li>
        <li>
            <a href="#">
             {{ @exphbs.view }}
            </a>
        </li>
    </ul>

    {{{ body }}}
</div>

</body>
</html>