<h3>Hello there, Visitor! Tell us about yourself.</h3>

<div>
    <form method="get" action="/search" class="form-inline">
        <div class="form-group">
            <label for="searchInput">Look for</label>
            <input type="text" class="form-control" name="visitorDetails" id="searchInput" placeholder="Enter search term here">
        </div>

        <button type="submit" class="btn btn-default">Search</button>
    </form>
</div>
<br>
<div>
    <table class="table table-hover">
        <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Country</th>
            <th>City</th>
            <th>Registration Date</th>
        </tr>
        </thead>

        <tbody>
        {{#each visitors }}
            <tr>
                <td>{{ this.idvisitors }}</td>
                <td>{{ this.vname }}</td>
                <td>{{ this.vemail }}</td>
                <td>{{ this.vmobile }}</td>
                <td>{{ this.vcounty }}</td>
                <td>{{ this.vcity }}</td>
                <td>{{ this.vregisterdate }}</td>
            </tr>

        {{/each}}

        </tbody>
</div>
        <div>
            <form id="visitorForm">
                <label for="name">Name:<input type="text" class="form-control"></label><br />
                <label for="country">Country:<input type="text" class="form-control"></label><br />

            </form>
        </div>

